.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  margin-right: 93px;
  align-items: center;
}
.logo--black {
  color: var(--header-link-color);
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.logo-white {
  color: var(--footer-color);
}
